/*********************************************
    COLORS
    #FFC15E;
    #EF6461;
    #FFD9CE;
    #FBFEFB;
    #394648;

    GRADIENTS
    rgba(199, 255, 131, 0.8), rgba(143, 221, 49, 0.8)
    rgba(139, 220, 255, 0.8), rgba(49, 169, 221, 0.8)
    rgba(255, 225, 176, 0.8), rgba(255, 193, 94, 0.8)
*********************************************/
* {
  box-sizing: border-box;
}
body {
  background-color: #fbfefb;
  color: #394648;
  font-family: "Roboto", sans-serif; /* Lato? */
  line-height: 1.7;
}

a {
  color: #394648;
  font-size: 1.25rem;
}

/***** NAVIGATION *****/
.navbar a {
  font-weight: 800;
}

.navbar a:hover {
  color: #ef6461;
}

.logo {
  color: #fbfefb;
  font-size: 3rem;
}

.brand-light {
  color: #fbfefb;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
}

/***** HEADER *****/
.header {
  background-image: linear-gradient(
      rgba(255, 217, 206, 0.8),
      rgba(247, 138, 138, 0.8)
    ),
    url("../images/workspace_02.jpg");
  background-size: cover;
  background-position: top; /* ensures that image will not move and stay centered on top when browser window resizes */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 85%,
    0 100%
  ); /* cuts image: polygon(top-left x y, top-right x y, bottom-right x y, bottom-left x y) */
  height: 90vh;
}

.jumbotron-fluid {
  text-align: center;
  padding: 40px 0 80px;
}

.heading-primary {
  color: #fbfefb;
  line-height: 6rem;
  margin: 4rem;

  backface-visibility: hidden; /* stops animation from being "shaky", hides whatever is behind the moving element */
}

.heading-primary-main {
  display: block;
  font-family: "Satisfy", cursive;
  font-size: 5.4rem;

  animation-name: moveInLeft; /* which animation? */
  animation-duration: 2s; /* how long? */
  animation-timing-function: ease-out; /* starts fast, ends slower */
  /*  animation-delay: --s; when should animation start? 
      animation-iteration-count: --; how often should animation repeat? 
      animation-timing-function: --; check MDN for keyword values!
  */
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1.5rem;
  text-transform: uppercase;

  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.btn-white,
.btn-white:default,
.btn-white:link,
.btn-white:visited {
  background-color: #fbfefb;
  border: 2px solid #fbfefb;
  border-radius: 6.25rem;
  color: #ef6461;
  display: inline-block;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  transition: ;
}

.btn-white:active {
  transform: translateY(-1px);
}

.btn-white:hover {
  box-shadow: 0 0.625rem 1.25rem;
  transform: translateY(-5px);
}

.btn-white::after {
  /* hides behind element */
  border-radius: 6.25rem;
  content: ""; /* necessary! */
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1; /* make sure it's behind the button! */
}

.profile-img {
  border: 2px solid #ffc15e;
  border-radius: 50%;
  padding: 5px;
  width: 85%;
}

.lg-paragraph {
  font-size: 1.5rem;
}

/***** ABOUT ME *****/

.section-about {
  text-align: center;
  background-color: #fbfefb;
  padding: 25vh 10vw 35vh;
  margin-top: -15vh;
}

/***** NEW SECTION *****/

.section-something {
  background-color: rgba(255, 217, 206);
  text-align: center;
  padding: 20vh 10vw 40vh;
  margin-top: -15vh;
  transform: skewY(-4deg); /* rotates section, as well as content */
}

.section-heading {
  color: #ef6461;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

/***** PORTFOLIO PREVIEW *****/
.section-project-preview {
  text-align: center;
  background-color: #fbfefb;
  padding: 20vh 10vw 15vh;
  margin-top: -15vh;
  transform: skewY(-4deg);
}

.project-container {
  margin: 10vh 0 5vh;
}

.card {
  border: none;
  border-radius: 5%;
}

.project-1 {
  background-image: linear-gradient(
      rgba(199, 255, 131, 0.8),
      rgba(143, 221, 49, 0.8)
    ),
    url("../images/pro1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project-2 {
  background-image: linear-gradient(
      rgba(255, 225, 176, 0.8),
      rgba(255, 193, 94, 0.8)
    ),
    url("../images/pro2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project-3 {
  background-image: linear-gradient(
      rgba(139, 220, 255, 0.8),
      rgba(49, 169, 221, 0.8)
    ),
    url("../images/pro3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hover-img:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  color: #394648;
  text-decoration: none;
}

.card-body {
  height: 40%;
  padding: 2rem;
}

.card-title {
  color: #fbfefb;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  margin: 0;
  text-transform: uppercase;
}

.card-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.section-paragraph {
  font-size: 1.25rem;
  text-align: center;
}

.rotated {
  transform: skewY(4deg);
}

.portfolio-link:hover {
  color: #ef6461;
  text-decoration: none;
}

/***** WORK TOGETHER *****/
.section-contact {
  background-color: rgba(255, 217, 206);
  text-align: center;
  padding: 35vh 10vw 25vh;
  margin-top: -15vh;
}

h4 {
  color: #ef6461;
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.btn-pink,
.btn-pink:default,
.btn-pink:link,
.btn-pink:visited {
  background-color: #ef6461;
  border: 2px solid #ef6461;
  border-radius: 6.25rem;
  color: #fbfefb;
  display: inline-block;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
}

.btn-white:active {
  transform: translateY(-1px);
}

.btn-pink:hover {
  box-shadow: 0 0.5rem 1.25rem #727272;
  transform: translateY(-5px);
}

.btn-pink::after {
  border-radius: 6.25rem;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
/***** FOOTER *****/
.fixed-bottom {
  background-color: #394648;
  border-top: 4px solid #ef6461;
  color: #fbfefb;
  font-size: 0.75rem;
  height: 6vh;
}

.copyright,
.credit {
  display: inline-block;
}

/***** PORTFOLIO *****/

h3 {
  color: #ffc15e;
  letter-spacing: 1.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 8%;
}

.short {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 50%;
}

.portfolio-main {
  margin: 15vh 0;
}

.pro-summary {
  height: 18rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 5%;
}

.pro-img {
  border: none;
  border-radius: 5%;
  height: 18rem;
  width: 100%;
  margin-bottom: 5%;
}
.pro-one {
  background-image: url(../images/pro1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-two {
  background-image: url(../images/pro2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-three {
  background-image: url(../images/pro3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-four {
  background-image: url(../images/pro4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-five {
  background-image: url(../images/pro5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sm-caption {
  color: #727272;
  font-size: 0.75rem;
  text-transform: uppercase;
}

/***** CONTACT *****/
.social-media {
  margin: 5vh 0;
  text-align: center;
}
.icons {
  color: #ffc15e;
  font-size: 3rem;
  margin: 0 0.75rem;
}

.icons:hover {
  color: #ef6461;
}

.form {
  margin-bottom: 10%;
}

#inputMessage {
  height: 10rem;
}

.btn-submit {
  margin-top: 1.5rem;
}

/***** NECESSARY MEDIA QUERIES *****/
@media screen and (max-width: 980px) {
  .lead {
    margin-top: 8%;
  }
  .card {
    margin-top: 5%;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 100%;
  }
  .heading-primary {
    line-height: 3.5rem;
    margin-bottom: 1.25rem;
  }
  .heading-primary-main {
    font-size: 3rem;
  }
  .heading-primary-sub {
    font-size: 1.35rem;
    letter-spacing: 0.75rem;
  }
  .lead {
    margin-top: 10%;
  }
  .card {
    margin-top: 5%;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.75rem;
  }
  .form {
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 100%;
  }
  .heading-primary {
    line-height: 3.5rem;
    margin-bottom: 1.25rem;
  }
  .heading-primary-main {
    font-size: 3rem;
  }
  .heading-primary-sub {
    font-size: 1.35rem;
    letter-spacing: 0.75rem;
  }
  .lead {
    margin-top: 10%;
  }
  .card {
    margin-top: 5%;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.75rem;
  }
  .form {
    margin-bottom: 15%;
  }
}

/***** ANIMATIONS *****/

@keyframes moveInLeft {
  /* for good browser performance only animate two properties */
  /* starting point */
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /* moves on x-achsis, so only specify x*/
  }
  /* animation ends at */
  100% {
    opacity: 1;
    transform: translateX(0); /* end at original position */
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
